Repository dalmura/network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dalmura/network-admins, @dalmura/site-indigo-owners, @dalmura/site-navy-owners, @dalmura/site-amethyst-owners, @dalmura/site-cerulean-owners

Adding some services that need to run in the gpu
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

indigo: allow SERVERS_VLAN => IOT_INTERNET_VLAN
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding secrets.yaml storage doco
  sites/indigo/README.md
Owners: @dalmura/site-indigo-owners

dal-indigo-sw-0 ether18 iot_restricted
  sites/indigo/devices/dal-indigo-sw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Update config for RB5009
  sites/amethyst/devices/dal-amethyst-fw-0.rsc.tmpl.old
Owners: @dalmura/site-amethyst-owners

Multi-WAP setup
  sites/amethyst/devices/dal-amethyst-wap-1.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-wap-2.rsc.tmpl
  sites/amethyst/networks.yaml
Owners: @dalmura/site-amethyst-owners

Add vlan 103 to upstairs (tagged)
  sites/amethyst/devices/dal-amethyst-wap-0.rsc.tmpl
Owners: @dalmura/site-amethyst-owners

split fw0 into 4 parts
  sites/amethyst/devices/dal-amethyst-fw-0.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-fw-0_part1.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-fw-0_part2.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-fw-0_part3.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-fw-0_part4.rsc.tmpl
Owners: @dalmura/site-amethyst-owners

break up wap0-2 into parts
  sites/amethyst/devices/dal-amethyst-wap-0_part1.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-wap-0_part2.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-wap-1_part1.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-wap-1_part2.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-wap-2_part1.rsc.tmpl
  sites/amethyst/devices/dal-amethyst-wap-2_part2.rsc.tmpl
Owners: @dalmura/site-amethyst-owners

Latest firewall rules and adding in Queues/CAKE experiment
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Fixing up fw-0 part4 for proper new mikrotik apps setup
  sites/indigo/README.md
  sites/indigo/devices/dal-indigo-fw-0_part4.rsc.tmpl
  sites/indigo/networks.yaml
Owners: @dalmura/site-indigo-owners

Adding backup users for Notes and N8N
  sites/navy/infra/users.tf
Owners: @dalmura/site-navy-owners

Flipping cake queue around to be correct
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding TCP/22 to allowed private ingress (for forgejo ssh)
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Update port24 to be IoT device comment
  sites/indigo/devices/dal-indigo-sw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Fixing dal-salmon-fw0 part4 to use apps instead of containers
  sites/salmon/devices/dal-salmon-fw-0_part4.rsc.tmpl
Owners: @dalmura/network-admins

Updating wireguard peers so any under roadwarrior are set to responder
  sites/indigo/devices/dal-indigo-fw-0_part3.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Allowing sites update dns users to also update their respective dalmura.au site domains
  shared/terraform_modules/site_dns_update_user/data.tf
  shared/terraform_modules/site_dns_update_user/user.tf
  shared/terraform_modules/site_dns_update_user/variables.tf
Owners: @dalmura/network-admins

Allocating static DHCP leases for k8s nodes
  sites/indigo/networks.yaml
Owners: @dalmura/site-indigo-owners

[navy] dal-navy-fw-0's ether3 is now another node spec port
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

[indigo] matrix RTC firewall/nat, and navy transit interface setup
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding in TCP MSS clamping for navy and indigo
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners, @dalmura/site-navy-owners

Bumping DNS cache size on RB5009's
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners, @dalmura/site-navy-owners

.github/CODEOWNERS:

# Default permissions
*               @dalmura/network-admins

# Site specific entries
sites/indigo/   @dalmura/site-indigo-owners
sites/navy/     @dalmura/site-navy-owners
sites/amethyst/ @dalmura/site-amethyst-owners
sites/cerulean/ @dalmura/site-cerulean-owners
