Repository dalmura/network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dalmura/network-admins, @dalmura/site-indigo-owners, @dalmura/site-navy-owners, @dalmura/site-amethyst-owners, @dalmura/site-cerulean-owners

.github/CODEOWNERS:

# Default permissions
*               @dalmura/network-admins

# Site specific entries
sites/indigo/   @dalmura/site-indigo-owners
sites/navy/     @dalmura/site-navy-owners
sites/amethyst/ @dalmura/site-amethyst-owners
sites/cerulean/ @dalmura/site-cerulean-owners

Adding PutObjectTagging to allowed backup user S3 actions
  shared/terraform_modules/site_backup_user/user.tf
Owners: @dalmura/network-admins

Adding in site_email_user and all the wiring into indigo
  README.md
  shared/terraform_modules/site_email_user/data.tf
  shared/terraform_modules/site_email_user/user.tf
  shared/terraform_modules/site_email_user/variables.tf
  sites/indigo/infra/.terraform.lock.hcl
  sites/indigo/infra/users.tf
Owners: @dalmura/network-admins, @dalmura/site-indigo-owners

Updating indigo devices to default HTTPS to TCP/8443
  deploy.sh
  sites/indigo/devices/README.md
  sites/indigo/devices/dal-indigo-fw-0_part2.rsc.tmpl
  sites/indigo/devices/dal-indigo-sw-0_part2.rsc.tmpl
  sites/indigo/devices/dal-indigo-sw-1_part2.rsc.tmpl
  sites/indigo/devices/dal-indigo-wap-0_part2.rsc.tmpl
  sites/indigo/devices/dal-indigo-wap-1_part2.rsc.tmpl
Owners: @dalmura/network-admins, @dalmura/site-indigo-owners

Merging current local mods into firewall config
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Updating doco and deploy script for default of linux
  README.md
  deploy.sh
Owners: @dalmura/network-admins

Refreshing indigo/salmon terraform and moving prometheus to servers vlan
  sites/global/infra/.terraform.lock.hcl
  sites/global/infra/providers.tf
  sites/indigo/infra/.terraform.lock.hcl
  sites/indigo/infra/providers.tf
  sites/salmon/devices/dal-salmon-fw-0_part1.rsc.tmpl
  sites/salmon/infra/.terraform.lock.hcl
  sites/salmon/infra/providers.tf
Owners: @dalmura/network-admins, @dalmura/site-indigo-owners

Fixing salmon ports and typo
  sites/salmon/devices/dal-salmon-fw-0_part1.rsc.tmpl
  sites/salmon/devices/dal-salmon-fw-0_part2.rsc.tmpl
  sites/salmon/devices/dal-salmon-sw-1_part2.rsc.tmpl
  sites/salmon/devices/dal-salmon-wap-0.rsc.tmpl
  sites/salmon/devices/dal-salmon-wap-1.rsc.tmpl
Owners: @dalmura/network-admins

Cutting dal-salmon-wap-1 over to new hardware and part setup
  sites/salmon/devices/dal-salmon-wap-1.rsc.tmpl
  sites/salmon/devices/dal-salmon-wap-1_part1.rsc.tmpl
  sites/salmon/devices/dal-salmon-wap-1_part2.rsc.tmpl
Owners: @dalmura/network-admins

Adding TCP/445 for SMB access from GENERAL => SERVERS
  sites/salmon/devices/dal-salmon-fw-0_part1.rsc.tmpl
Owners: @dalmura/network-admins

Skip all wifi DFS channels and turn off the LED for wap-1
  sites/indigo/devices/dal-indigo-wap-1_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding dal-indigo-fw-0_part4 with container management for uptime kuma
  sites/indigo/README.md
  sites/indigo/devices/dal-indigo-fw-0_part4.rsc.tmpl
  sites/indigo/networks.yaml
Owners: @dalmura/site-indigo-owners

dal-indigo-sw-1 bond-g3c1 configuration
  sites/indigo/devices/dal-indigo-sw-1_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding in navy with new 80/22 cidr
  sites/navy/devices/README.md
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
  sites/navy/devices/dal-navy-fw-0_part2.rsc.tmpl
  sites/navy/networks.yaml
Owners: @dalmura/site-navy-owners

Moving ether8 to untagged MANAGEMENT vlan
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

ether2 is now a hybrid GENERAL/SERVERS,MANAGEMENT port
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

ether3 is untagged GENERAL
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

Cleaning up the port forwards to add later if required
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

Adding in management dns entries
  sites/navy/infra/.terraform.lock.hcl
  sites/navy/infra/dns.tf
  sites/navy/networks.yaml
Owners: @dalmura/site-navy-owners

Adding the IAM Vendor user and permissions
  shared/terraform_modules/site_iam_vendor_user/data.tf
  shared/terraform_modules/site_iam_vendor_user/user.tf
  shared/terraform_modules/site_iam_vendor_user/variables.tf
  sites/indigo/infra/.terraform.lock.hcl
  sites/indigo/infra/users.tf
Owners: @dalmura/network-admins, @dalmura/site-indigo-owners

Adding the IAM Vendor creds as well
  shared/terraform_modules/site_iam_vendor_user/user.tf
Owners: @dalmura/network-admins

Adding IAM Vendor cred extraction into README
  README.md
Owners: @dalmura/network-admins

Adding instructions to extract the vended IAM Policy ARN as well
  README.md
Owners: @dalmura/network-admins

Adding salmon container and doco for GHCR certs
  ghcr_certs.pem
  sites/indigo/README.md
  sites/salmon/README.md
  sites/salmon/devices/dal-salmon-fw-0_part4.rsc.tmpl
  sites/salmon/networks.yaml
Owners: @dalmura/network-admins, @dalmura/site-indigo-owners

Bumping terraform lock for salmon
  sites/salmon/infra/.terraform.lock.hcl
Owners: @dalmura/network-admins

Updating IAM vended S3 policy to limit permissions based on principal tags
  shared/terraform_modules/site_iam_vendor_user/user.tf
Owners: @dalmura/network-admins

Correctly double escaping the IAM policy variables as TF interpolates them
  shared/terraform_modules/site_iam_vendor_user/user.tf
Owners: @dalmura/network-admins

Remvoing the S3 prefix limitation to ListBucket as it breaks Barman from working correctly
  shared/terraform_modules/site_iam_vendor_user/user.tf
Owners: @dalmura/network-admins

totally not vibecoded
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

removing allowed vlans for the servers ports
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

feedback from pr
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

derp
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

Fixing bond-g3c1 interface configs
  sites/indigo/devices/dal-indigo-sw-1_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding bond-g3c2 and bond-g3c3 as well for other eq14s
  sites/indigo/devices/dal-indigo-sw-1_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding missing bridge port definitions for the other bond interfaces
  sites/indigo/devices/dal-indigo-sw-1_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Updating plex cloud rules to latest cluster IPs
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Adding missing users
  sites/navy/infra/users.tf
Owners: @dalmura/site-navy-owners

Updating uptimekuma doco for dal-indigo-fw-0
  sites/indigo/README.md
  sites/indigo/devices/dal-indigo-fw-0_part4.rsc.tmpl
Owners: @dalmura/site-indigo-owners

Updating firewall rules for dal-indigo-fw-0 with latest access standards
  sites/indigo/devices/dal-indigo-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-indigo-owners

adding access from wan
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners

wrong addressing
  sites/navy/devices/dal-navy-fw-0_part1.rsc.tmpl
Owners: @dalmura/site-navy-owners
